@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

    font-family: 'Press Start 2P';
}

.nes-container {
    margin: 0 50px 50px 50px;
}

.website-header-img {
    object-fit: cover;
    object-position: 0 90%;
    width: 100%;
    height: 530px;
}