@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

    font-family: 'Press Start 2P';
}

.nes-container {
    margin: 0 50px 50px 50px;
}

.website-header-img {
    object-fit: cover;
    object-position: 0 90%;
    width: 100%;
    height: 530px;
}

nav ul {
    list-style-type: none;
    background-color: #212529;
    font-weight: bolder;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li:last-child {

}

nav ul li a {
    text-decoration: none;
}



.message {
    display: flex;
    margin-top: 2rem;
}

.message.-left i {
    margin-right: 2rem;
    transform: scaleX(-1);
}

.message.-left i > img {
    height: 100px;
}